<div>
    <div>
        <h1> Bienvenido Usuario Premium</h1>
    </div>
    <form action="/api/premium/" method="GET">
        <button type="submit" style="padding: 10px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); margin: 15px;">Comprar Productos</button>
    </form>
    <form action="/api/premium/productsUsersPremium" method="GET">
        <button type="submit" style="padding: 10px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); margin: 15px;">Administrar Productos</button>
    </form>

</div>